div {
        border: 1px solid black;
}

#layout {
        width: 1200px;
        height: 680;
}

#title, #controls, #infobar {
        font-family: 'Raleway', sans-serif;
        text-align: center;
}

#title {
        text-align: center;
        height: 50px;
    border: none;
    font-size: 20px;
}

#visualization {
        width: 920px;
        height: 950px;
        float: left;
        border-top: 0;
        text-align: center;
    border-right: 0px;
}

#controls {
        width: 276px;
        height: 950px;
        float: right;
}

.bar { 
    fill: steelblue; 
}