body {
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
}

.axis line, .axis text {
    font-size: 11px;
    font-family: 'Raleway', sans-serif;
}

text.axistitle {
  font-size: 11px;
}

.axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: black;
  stroke-width: 2px;
  clip-path: url(#clip);
}

.zoom {
    cursor: move;
    fill: none;
    pointer-events: all;
}

#layout {
    width: 1200px;
    height: 600;
}

#title, #controls, #infobar {
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

#title {
    text-align: center;
    height: 50px;
    border: none;
    font-size: 20px;
}

#visualization {
    width: 920px;
    height: 600px;
    float: left;
    border-top: 0;
    text-align: center;
    border-right: 0px;
}

#controls {
    width: 276px;
    height: 600px;
    float: right;
    text-align: left;
}

#controlfilter {
  margin-left: 0;
  font-weight: bold;
}

h1, .desc {
  text-align: center;
}

h2 {
  text-align: left;
  margin-left: 40px;
  margin-bottom: 5px;
  margin-top: 2em;
}

#yearvalue {
  border:0; 
  color:#f6931f;
  font-weight:bold;
  text-align: center;
  margin-left: 25%;
}

.chart1, .chart2 {
  padding-left: 20px;
}

div.tooltip {   
  position: absolute;           
  text-align: center;           
  width: 120px;                  
  height: 110px;                 
  padding: 2px;             
  font: 12px sans-serif;        
  background: lightsteelblue;   
  border: 0px;      
  border-radius: 8px;           
  pointer-events: none;         
}

.box {
  float: left;
  width: 15px;
  height: 15px;
  border: 1px solid black;
}

.jan {
  background: #800000;
}

.feb {
  background: #FF0000;
}

.mar {
  background: #800080;
}

.apr {
  background: #FF00FF;
}

.may {
  background: #008000;
}

.jun {
  background: #00FF00;
}

.jul {
  background: #808000;
}

.aug {
  background: #FFFF00;
}

.sep {
  background: #000080;
}

.oct {
  background: #0000FF;
}

.nov {
  background: #008080;
}

.dec {
  background: #00FFFF;
}

label, .clear, .slider-range {
  clear: left;
}

input {
  margin-bottom: 15px;
}

#all {
  margin-left: 20px;
}

#intro {
  padding: 1em;
  border: 1px solid black;
}

button {
    background-color: gray; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}